<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal<%= id %>">
    Full Details
</button>

<!-- Modal -->
<div class="modal fade" id="modal<%= id %>" tabindex="-1"
     aria-labelledby="Full Response Detail" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Full Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <img src="data:image/png;base64,<%= image %>" class="img-fluid"/>
                <button type="button" class="btn btn-info my-4" onclick="copyText('<%= id %>')">Copy Full JSON Response
                </button>
                <pre><code id="code-<%= id %>"
                                  class="hljs language-json"><%- JSON.stringify(request, undefined, 2) %></code></pre>

            </div>
            <div class="modal-footer">
                <h5>Webhook Response ID: <%= id %></h5>
            </div>
        </div>
    </div>
</div>